
<br>
<center>
   <h1>Metodo : Data Livre</h1>
   <%=@tela%>
   <br>
   <h1>Metodo: Més anterior</h1>
   <%=@tela2%>
   <br>
   <h1>Metodo: Més Atual</h1>
   <%=@tela3%>
   <h1>Metodo: ultimos_3_meses</h1>
   <%=@tela4%>
   <h1>Metodo: ultimos_30_dias</h1>
   <%=@tela5%>
   <h1>Metodo: ultimo_ano</h1>
   <%=@tela6%>
</center>
