<div class="panel-body">
       <form name="pdv" action="show_por_representante" method="post">
            <%= render 'partials/cadastro_geral/namefant'%>
            <%= render 'partials/cadastro_geral/cpf_cnpj'%>
            <%= render 'partials/cadastro_geral/name'%>
            <%= render 'partials/cadastro_geral/cep'%>
            <%= render 'partials/cadastro_geral/estado'%>

            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>