<div class="panel-body">
       <form name="pdv" action="show" method="post">
           
            <%= render 'partials/cadastro_geral/namefant'%>
            <%= render 'partials/cadastro_geral/cpf_cnpj'%>
            <%= render 'partials/cadastro_geral/name'%>
            <%= render 'partials/cadastro_geral/seguimento'%>
            <%= render 'partials/cadastro_geral/cep'%>
            <%= render 'partials/cadastro_geral/endereco'%>
            <%= render 'partials/cadastro_geral/bairro'%>
            <%= render 'partials/cadastro_geral/logr'%>
            <%= render 'partials/cadastro_geral/cidade'%>
            <%= render 'partials/cadastro_geral/estado'%>
            <%= render 'partials/cadastro_geral/telefone'%>
            <%= render 'partials/cadastro_geral/representative'%>
            <%= render 'partials/cadastro_geral/email'%>
            <%= render 'partials/cadastro_geral/login'%>
            <%= render 'partials/cadastro_geral/passwd'%>
            <%= render 'partials/cadastro_geral/conf_passwd'%>









            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>