<div class="panel-body">
       <form name="pdv" action="show" method="post">
           <!--dados de cadastro 3-->
            <%= render 'partials/cadastro_geral/namefant'%>
            <%= render 'partials/cadastro_geral/cpf_cnpj'%>
            <%= render 'partials/cadastro_geral/name'%>
            <!--dados do negocio 3-->
            <%= render 'partials/cadastro_geral/seguimento'%>
            <%= render 'partials/cadastro_geral/saldo'%>
            <%= render 'partials/cadastro_geral/comicao'%>
            <!--Dados de contato 3-->
            <%= render 'partials/cadastro_geral/ddd'%>
            <%= render 'partials/cadastro_geral/telefone'%>
            <%= render 'partials/cadastro_geral/email'%>
            <!--dados de localização 6-->
            <%= render 'partials/cadastro_geral/cep'%>
            <%= render 'partials/cadastro_geral/endereco'%>
            <%= render 'partials/cadastro_geral/bairro'%>
            <%= render 'partials/cadastro_geral/logr'%>
            <%= render 'partials/cadastro_geral/area'%>
            <%= render 'partials/cadastro_geral/cidade'%>
            <%= render 'partials/cadastro_geral/estado'%>
           
            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>