<h1>Pdv#pagina_teste</h1>
<p>Find me in app/views/pdv/pagina_teste.html.erb</p>
<%=@pdv.testar_classe%>
<br>
<%=@pdv.solicitar_lista_pdvs%>
<br>
<%=@pdv.criar_pdv%>
<br>
<%=@pdv.deletar_pdv%>
<br>
<%=@pdv.solicitar_dados_pdv%>