<div class="panel panel-primary">
    <div class="panel-heading"><center>Escolha o regime da pesquisa</center></div>
  <div class="panel-body">
      <center>
          
             <%= render 'partials/geral/mes_anterior'%>
             <%= render 'partials/geral/mes_atual'%>
             <%= render 'partials/geral/trinta_dias'%>
             <%= render 'partials/geral/tres_meses'%>
             <%= render 'partials/geral/um_ano'%>
             <%= render 'partials/geral/input_data_inicio'%>
             <%= render 'partials/geral/input_data_fim'%>
             
              
          
      </center>
    
  </div>
  <div class="panel-footer"></div>
</div>