<div class="panel-body">
       <form name="representante" action="show" method="post">
            
            <!--Informações cadastrais pessoais-->
            <%= render 'partials/cadastro_geral/namefant'%>
            <%= render 'partials/cadastro_geral/name'%>
            <%= render 'partials/cadastro_geral/cpf_cnpj'%>
            
            <!--informações  de contato-->
            <%= render 'partials/cadastro_geral/ddd'%>
            <%= render 'partials/cadastro_geral/telefone'%>
            <%= render 'partials/cadastro_geral/email'%>
            
            <!--informações de endereço do representante-->
            <%= render 'partials/cadastro_geral/cep'%>
            <%= render 'partials/cadastro_geral/endereco'%>
            <%= render 'partials/cadastro_geral/bairro'%>
            <%= render 'partials/cadastro_geral/logr'%>
            <%= render 'partials/cadastro_geral/cidade'%>
            <%= render 'partials/cadastro_geral/estado'%>
            
           
           

            <button type="submit" class="btn btn-primary">Subimeter</button>
        </form>
    </div>