
<table class="table table-hover">
  <thead>
     <tr>
        <td>Nome fantasia</td>
        <td>Responsavel</td>
        <td>telefone</td>
        <td>cidade</td>
        <td></td>
        <td></td>
        
     </tr>
  </thead>
<%@tela.each do |representantes|%>
 <tbody>
     <tr>
        <td><%=representantes['nomefantasia']%></td>
        <td><%=representantes['uname']%></td>
        <td><%=representantes['phone']%></td>
        <td><%=representantes['city']%></td>
       
        <td>
        <form name="representante" action="show_representante" method="post">
            <input type="hidden" name="id" value=<%=representantes['_id']%>>
            <br>
            <button type="submit" class="btn btn-success">exibir <i class="fa fa-eye" aria-hidden="true"></i></button>
        </form>
        </td>
     </tr>
  </tbody>
  <%end%>
</table>
