<h1>dados logicos:1</h1>
<%=@tela.representante_id%>
<br>
<h1>dados cadastrais:3</h1>
<%=@tela.representante_fantname%>
<br>
<%=@tela.representante_name%>
<br>
<%=@tela.representante_cpf_cnpj%>
<br>
<h1>dados de contato:3</h1>
<%=@tela.representante_ddd%>
<br>
<%=@tela.representante_phone%>
<br>
<%=@tela.representante_email%>
<br>
<h1>dados de endereço:7</h1>
<%=@tela.representante_ad_cep%>
<br>
<%=@tela.representante_addr%>
<br>
<%=@tela.representante_bairro%>
<br>
<%=@tela.representante_area%>
<br>
<%=@tela.representante_logradouro%>
<br>
<%=@tela.representante_ad_city%>
<br>
<%=@tela.representante_ad_uf%>
<h1>retorno do metodo</h1>
<%=@tela2%>
