
<br>
<center>
    <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Usuario Criado</h3>
         </div>
         <div class="panel-body">
            <table class="table table-striped">
                <thead>
                     <tr>
                        <td>Nome Fantasia</td>
                        <td>Responsavel</td>
                        <td>CPF/CNPJ</td>
                        <td>Classe</td>
                        <td>Representante</td>
                     </tr>
                </thead>
                <%@tela.each do |pdv|%>
                <tbody>
                     <tr>
                        <td><%=pdv['nomefantasia']%></td>
                        <td><%=pdv['uname']%></td>
                        <td><%=pdv['CPF']%></td>
                        <td><%=pdv['class']%></td>
                        <td><%=pdv['REPRES']%></td>
                <%end%>
                </body>  
                </table>
                <table class="table table-hover">
                <thead>
                     <tr>
                        <td>DDD</td>
                        <td>Telefone</td>
                        <td>Email</td>
                        <td>CEP</td>
                        <td>Endereço</td>
                     </tr>
                </thead>
                <%@tela.each do |pdv|%>
                <tbody>
                     <tr>
                        <td><%=pdv['defaultddd']%></td>
                        <td><%=pdv['phone']%></td>
                        <td><%=pdv['email']%></td>
                        <td><%=pdv['CEP']%></td>
                        <td><%=pdv['address']%></td>
                 </body>
                <%end%>
                  
                </table>
                
                <table class="table table-hover">
                <thead>
                     <tr>
                      
                        <td>Logradouro</td>
                        <td>Bairro</td>
                        <td>Área</td>
                        <td>Cidade</td>
                        <td>Estado</td>
                     </tr>
                </thead>

                <%@tela.each do |pdv|%>
                <tbody>
                     <tr>
                       
                        <td><%=pdv['logradouro']%></td>
                        <td><%=pdv['bairro']%></td>
                        <td><%=pdv['area']%></td>
                        <td><%=pdv['city']%></td>
                        <td><%=pdv['UF']%></td>
                </body>
                <%@id=pdv['_id']%>
                <%@pdv_=pdv['PDV']%>
                <%end%>
                  
                <table class="table table-hover">
                
                <thead>
                     <tr>
                       
                       
                        <td>
                           <%= render 'partials/cadastro_geral/actionbuttons/atualizar'%>
                        </td>
                    
                        <td>
                            <%= render 'partials/cadastro_geral/actionbuttons/excluir'%>
                        </td>
                        <td>
                            <%= render 'partials/cadastro_geral/actionbuttons/relatorios_pdv'%>
                        </td>
                        
                        <td>
                            <%= render 'partials/cadastro_geral/actionbuttons/gerenciar'%>
                        </td>
                    </tr>
                </thead>
                
                <tbody>
                     
                    <tr>
                       
                        <td>
                        </td>
                        <td>
                        </td>
                         <td>
                        </td>
                        <td>
                        </td>
                        
                    </tr>
                
                </tbody>
                 
                 
                
                </table>

        </div>
     </div>

    </panel>
</center>
